# Terraform local state and directory
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
*.terraform.lock.hcl
tfplan

# Java Maven build directory
target/
*.jar
*.war

# IDE and Project Documentation
.vscode/
steps/
